# This file is used by pip to install required python packages
# Usage: pip3 install -r requirements.txt

#Flask framework
Flask

#Flask packages
Flask-RESTful
Flask-JWT

JWT
datetime

#Grammar
language-check
